 <!-- Portfolio Modals -->
<div class="portfolio-modal modal fade" id="analytics" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2>Analytics</h2>
                        <hr class="star-primary">
                            <div class="resiliencyText">
                                <h3>Cybersecurity Toolkit</h3>
                                <p>If you’re not using real-time processing to protect your network, then by the time you know you’ve been attacked, it will be too late. With IBM Streams’ new Cybersecurity toolkit, you can monitor and detect active, real-time attacks within your network and allow you to respond to these serious threats before damage can be done. Bring your network security into the Cognitive Era with the <a href="http://ibmstreams.github.io/streamsx.documentation/docs/4.1/cybersecurity/cybersecurity-getting-started/">IBM Streams Cybersecurity toolkit</a>.</p>
                                <h3>Spark MLlib</h3>
                                <p>True stream processing is here for your Spark analytics. With our new Spark MLlib toolkit, you can leverage analytics being used extensively in the open source community. As you develop and improve your Spark analytics models, plug them into your Streams application to get answers continuously and in-stream. Get started <a href="https://developer.ibm.com/streamsdev/docs/getting-started-with-the-spark-mllib-toolkit">here</a>.</p>
                                <h3>Geospatial Analytics</h3>
                                <div class="videoWrapper">
                                    <iframe width="90%" src="https://www.youtube.com/embed/LZ6YoWxQvrU" frameborder="0" allowfullscreen></iframe>
                                </div>
                                <p>Real-time geospatial analytics opens the door to a whole new set of business use-cases. Retailers can interact with customers in real-time based on their location, agencies that monitor environmental conditions can provide targeted warnings to residents, and the connected cars of the near-future can become a reality. Try out our connected car demo <a href="http://m2m.demos.ibm.com/connectedCar.html">here</a>, and read the geospatial toolkit overview <a href="http://www-01.ibm.com/support/knowledgecenter/SSCRJU_4.1.0/com.ibm.streams.toolkits.doc/doc/tk$com.ibm.streams.geospatial/tk$com.ibm.streams.geospatial.html">here</a>.</p>
                                <h3>Time Series Analytics</h3>
                                <p>Our time series analytics were designed from the bottom up for processing streaming data. Any type of data that changes over time can be considered time-series data—sales figures, sensor readings, energy-usage, and network traffic. Streams provides up-to-the-millisecond analysis of how your data is changing now, and predictions on how it will change in the future. Read about how our time series analytics are being used for anomaly detection <a href="http://www.ibm.com/developerworks/library/bd-streamsanomalydetection/">here</a>, and get a more in-depth overview of the time series toolkit <a href="http://www-01.ibm.com/support/knowledgecenter/SSCRJU_4.1.0/com.ibm.streams.toolkits.doc/doc/tk$com.ibm.streams.timeseries/tk$com.ibm.streams.timeseries.html">here</a>.</p>
                                <h3>Text Analytics</h3>
                                <p>Streaming text analytics allows businesses to tap into the wealth of knowledge that text has to offer and react in real-time. Businesses can catch outgoing communication of sensitive or confidential information before being compromised, financial companies can act on news reports within milliseconds, and call-centers can respond to customer complaints immediately. Streams enables you to perform a wide range of analytics from simple extraction of keywords and phrases from text to complex semantic analysis on speech. Learn more about IBM Streams text analytics <a href="http://www.ibm.com/developerworks/library/bd-streamstextanalytics/">here</a>.</p>
                                <h3>Business Analytics</h3>
                                <p>The longer it takes to analyze data and update business logic, the harder it is for businesses to keep pace. In order to take full advantage of real-time analytics, businesses must be able to respond to the results of that analysis. Streams provides the ability to integrate business rules directly into a streaming application. Harness the power of IBM Operational Decision Manager (ODM) as Streams enables you to modify business rules on the fly and have those rules applied to your real-time streaming analytic applications. Check out are Rules Toolkit <a href="http://www-01.ibm.com/support/knowledgecenter/SSCRJU_4.1.0/com.ibm.streams.toolkits.doc/doc/tk$com.ibm.streams.rules/tk$com.ibm.streams.rules.html">here</a>.</p>
                                <h3>More Prepackaged Toolkits for Rapid Analytics Development</h3>
                                <p>Development that used to take weeks can be done in hours thanks to 15 toolkits that are shipped with the product, and several more open source toolkits available in our <a href="https://github.com/IBMStreams">IBMStreams Github</a> repositories.  <a href="https://developer.ibm.com/streamsdev/docs/product-toolkits-overview/">Click here for an overview of our product toolkits</a>.</p>
                            </div>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
