<!-- About Section -->
    <section id="explore">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Explore</h2>
                    <h3 class="section-subheading text-muted">Faster analytics made easy.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-lg-3">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <a target="_blank" href="https://ibmstreams.github.io/tutorials" class="fa fa-graduation-cap fa-stack-1x fa-inverse icon" data-toggle="modal"></a>
                    </span>
                    <h4 class="service-heading">
                        <a target="_blank" href="https://ibmstreams.github.io/tutorials" class="blackLink">Tutorials</a>
                    </h4>
                    <p class="text-muted">Central hub containing online courses, guides, and labs to help you learn about IBM Streams.</p>
                </div>
                <div class="col-lg-3">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <a target="_blank" href="https://github.com/IBMStreams/streamsx.waterConservation.starterKit" class="fa fa-cubes fa-stack-1x fa-inverse icon"></a>
                    </span>
                    <h4 class="service-heading">
                        <a target="_blank" href="https://github.com/IBMStreams/streamsx.waterConservation.starterKit" class="blackLink">Starter Kits</a>
                    </h4>
                    <p class="text-muted">Get started on your projects by building upon beginner-friendly starter kits .</p>
                </div>
                <div class="col-lg-3">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <a target="_blank" href="https://developer.ibm.com/streamsdev/docs/roadmap-for-streaming-analytics-service-on-bluemix/" class="fa fa-line-chart fa-stack-1x fa-inverse icon"></a>
                    </span>
                    <h4 class="service-heading"><a target="_blank" href="https://developer.ibm.com/streamsdev/docs/roadmap-for-streaming-analytics-service-on-bluemix/" class="blackLink">Streaming Analytics Samples</a></h4>
                    <p class="text-muted">Try one of numerous sample applications to learn more about the Streaming Analytics service.</p>
                </div>
                <div class="col-lg-3">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <a target="_blank" href="https://developer.ibm.com/streamsdev/docs/github-projects-overview/" class="fa fa-cog fa-stack-1x fa-inverse icon"></a>
                    </span>
                    <h4 class="service-heading"><a target="_blank" href="https://developer.ibm.com/streamsdev/docs/github-projects-overview/" class="blackLink">Toolkits</a></h4>
                    <p class="text-muted">View a categorized summary of all the toolkits available to IBM Streams. Available to easily download and use.</p>
                </div>
            </div>
        </div>
    </section>
