<!-- About Section -->
    <section id="explore">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Explore</h2>
                    <h3 class="section-subheading text-muted">Faster analytics made easy.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-3">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <a href="#tooling" class="fa fa-cogs fa-stack-1x fa-inverse icon" data-toggle="modal"></a>
                    </span>
                    <h4 class="service-heading">
                        <a href="#tooling" class="blackLink" data-toggle="modal">Tooling</a>
                    </h4>
                    <p class="text-muted">Best-in-class visualization with streaming to Microsoft Excel and state-of-the-art development tooling.</p>
                </div>
                <div class="col-md-3">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <a href="#cloud" class="fa fa-cloud fa-stack-1x fa-inverse icon" data-toggle="modal"></a>
                    </span>
                    <h4 class="service-heading"><a href="#cloud" class="blackLink" data-toggle="modal">Cloud</a></h4>
                    <p class="text-muted">Tracking mobile devices in real-time is easy and scalable with the Geospatial service in IBM Bluemix&trade;</p>
                </div>
                <div class="col-md-3">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <a href="#analytics" class="fa fa-line-chart fa-stack-1x fa-inverse icon" data-toggle="modal"></a>
                    </span>
                    <h4 class="service-heading"><a href="#analytics" class="blackLink" data-toggle="modal">Analytics</a></h4>
                    <p class="text-muted">Serious analytics for serious business. Get answers and take action in real-time.</p>
                </div>
                <div class="col-md-3">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <a href="#resiliency" class="fa fa-heartbeat fa-stack-1x fa-inverse icon" data-toggle="modal"></a>
                    </span>
                    <h4 class="service-heading"><a href="#resiliency" class="blackLink" data-toggle="modal">Resiliency</a></h4>
                    <p class="text-muted">Streams high availability let's you ensure that all of your data is processed.</p>
                </div>
                <div class="col-md-3">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <a href="#performance" class="fa fa-bolt fa-stack-1x fa-inverse icon" data-toggle="modal"></a>
                    </span>
                    <h4 class="service-heading"><a href="#performance" class="blackLink" data-toggle="modal">Performance</a></h4>
                    <p class="text-muted">Microsecond latency means you'll get insight, not hindsight.</p>
                </div>
            </div>
        </div>
    </section>