<!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <!--<a class="navbar-brand page-scroll navbar-secondary" href="#page-top">Home</a> -->
                <a class="navbar-brand navbar-secondary" href="https://www-01.ibm.com/marketing/iwm/iwm/web/pickUrxNew.do?source=swg-ibmistvi">Download</a>
                <a class="navbar-brand navbar-secondary" href="https://ibmstreams.github.io/streamsx.documentation/docs/spl/quick-start/qs-0/">Get Started</a>
                <a class="navbar-brand navbar-secondary" href="https://cloud.ibm.com/docs/services/StreamingAnalytics?topic=StreamingAnalytics-gettingstarted">IBM Cloud</a>
                <a class="navbar-brand navbar-secondary" href="https://ibm.biz/streams-community">Community</a>
                <a class="navbar-brand navbar-secondary" href="http://github.com/IBMStreams">GitHub</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#WhatsNew">What's New</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#portfolio">Videos</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#explore">Explore</a>
                    </li>

                   <!-- <li>
                        <a class="page-scroll" href="#team">Team</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="https://github.com/IBMStreams">GitHub</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="https://ibm.biz/streams-community">Community</a>
                    </li> -->
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text" >
                <!--<div class="intro-lead-in">IBM Streams</div> -->
                <div class="intro-heading" >
                  <img id="mainLogo" src="img/helveticaMangoLogo.png" alt="IBM Streams –&nbsp;Analytics Now. Answers Now. ">
                  <br/><br/>
                  <iframe type="text/html" width="440" height="290" src="https://www.youtube.com/embed/oQKeejV74lg"   allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                  <br/><p class="video-title"> Video introduction to Streams</p>
                  </div>

            </div>
        </div>
    </header>
<!--
        {% for page in site.pages %}
          {% if page.title %}<a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>{% endif %}
        {% endfor %}
 -->
