 <!-- Portfolio Modals -->
<div class="portfolio-modal modal fade" id="performance" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2>Performance</h2>
                        <hr class="star-primary">
                            <div class="resiliencyText"> 
                                <h3>What does NOW mean for Streams?</h3>
                                <div >&nbsp;</div>
                                <p>NOW means that Streams outperforms Apache Storm by 2.6 to 12.3 times in terms of throughput while simultaneously consuming 5.5 to 14.2 times less CPU time.  Furthermore, the throughput and CPU time gaps widen as data volume, degree of parallelism, and/or number of processing nodes grows. NOW means that our Log Analysis Benchmark clocks 5 million tuples/second aggregate on 4 blades on a 1 gbps network, and 14 million tuples/sec on a 10 gbps network. Read this article on the performance seen in these <a href="https://developer.ibm.com/streamsdev/2014/04/22/streams-apache-storm/">Streams benchmarks</a>. NOW means that while your competitors are making decisions based on yesterday, you will be making them based on the present gaining insight not hindsight.</p>
                                <h3>How do I make sure I’m getting the best performance?</h3>
                                <div >&nbsp;</div>
                                <p>Getting the most out of your hardware is a great way to save money. IBM Streams handles an incredible amount of data per core. Read <a href="https://developer.ibm.com/streamsdev/docs/performance-best-practices/">these best practices</a> to configure Streams for the best performance and this article on <a href="http://developer.ibm.com/streamsdev/2014/09/07/optimizing-streams-applications/">how to optimize your applications</a>.</p>
                            </div>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

