 <!-- Portfolio Modals -->
<div class="portfolio-modal modal fade" id="performance" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2>Performance</h2>
                        <hr class="star-primary">
                            <div class="resiliencyText"> 
                                <h3>What does NOW mean for Streams?</h3>
                                <div >&nbsp;</div>
                                <p>NOW means that our Log Analysis Benchmark clocks 5 million tuples/second aggregate on 4 blades on a 1 gbps network, and 14 million tuples/sec on a 10 gbps network. NOW means that while your competitors are making decisions based on yesterday, you will be making them based on the present.</p>
                                <h3>How do I make sure I’m getting the best performance?</h3>
                                <div >&nbsp;</div>
                                <p>Getting the most out of your hardware is a great way to save money. IBM Streams handles an incredible amount of data per core. Read <a href="https://developer.ibm.com/streamsdev/docs/performance-best-practices/">these configurations</a> to make sure you’re getting the best performance possible from Streams.</p>
                            </div>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

