<!-- Portfolio Grid Section -->
    <section id="portfolio" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Videos: Streams in Action</h2>
                    <h3 class="section-subheading text-muted">The Age of Analytics has begun. When you need answers now, IBM Streams is your solution.</h3>
                </div>
            </div>
            <div class="row">

            {% assign var = site.posts.size | divided_by: 3.0 | ceil | minus: 1 %}

            {% for i in (0 .. var) %}

                <div class="row">{% for j in (0 .. 2) %}

                    {% assign postNumber = 3 | times: i | plus: j %}
                    {% if postNumber < site.posts.size %}
                        <div class="col-md-4 col-sm-4 portfolio-item">
                            <a href="#portfolioModal{{ site.posts[postNumber].modal-id }}" class="portfolio-link" data-toggle="modal">
                                <div class="portfolio-hover">
                                    <div class="portfolio-hover-content">
                                        <i class="fa fa-plus fa-3x"></i>
                                    </div>
                                </div>
                                <img src="img/portfolio/{{ site.posts[postNumber].thumbnail }}" class="img-responsive" alt="">
                            </a>
                            <div class="portfolio-caption">
                                <h4>{{ site.posts[postNumber].title }}</h4>
                                <br>
                                <p class="text-muted">{{ site.posts[postNumber].subtitle }}</p>
                            </div>
                        </div>
                    {% endif %}

                {% endfor %}</div>

            {% endfor %}
            </div>
        </div>
    </section>
