<!-- What's New Section -->
   <div class="text-center">
    <h3>  Streams is a platform for distributed, efficient, fault-tolerant, real-time computation.  </h3>
    </div>
    <section id="WhatsNew">
        <h3> some text</h3>
        <div class="container">
            <h3> Streams is a platform for distributed, efficient, fault-tolerant, real-time computation. </h3>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">What's New</h2>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <a href="http://ibmstreams.github.io/streamsx.topology/" class="fa fa-fire fa-stack-1x fa-inverse icon" ></a>
                    </span>
                    <h4 class="service-heading"><a href="http://ibmstreams.github.io/streamsx.topology/" class="blackLink">Java Application API</a></h4>
                    <p class="text-muted">Write Streams applications in Java using the new Java Application API.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <a href="http://ibmstreams.github.io/streamsx.sparkMLLib/" class="fa fa-bar-chart-o fa-stack-1x fa-inverse icon"></a>
                    </span>
                    <h4 class="service-heading"><a href="http://ibmstreams.github.io/streamsx.sparkMLLib/" class="blackLink">Spark MLlib Toolkit</a></h4>
                    <p class="text-muted">Leverage real-time machine learning using Apache Spark's machine learning library on Streams.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <a href="http://ibmstreams.github.io/resourceManagers/" class="fa fa-cubes fa-stack-1x fa-inverse icon"></a>
                    </span>
                    <h4 class="service-heading"><a href="http://ibmstreams.github.io/resourceManagers/" class="blackLink">Yarn Resource Manager</a></h4>
                    <p class="text-muted">Use the Streams extensible resource management framework to run Streams on your Yarn cluster.</p>
                </div>
            </div>
        </div>
    </section>
