<!-- What's New Section -->
    <section id="WhatsNew">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">What's New</h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
            </div>
            <div class="row text-center">
                <!-- ICP4D -->
                <div class="col-lg-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <a href="" class="fa fa-stack-1x fa-inverse icon">
                            <img src="/img/sa_dsx.png" width="77%">
                        </a>
                    </span>
                    <h4 class="service-heading"><a href="" class="blackLink">Streams and IBM Cloud Pak for Data<br></a></h4>
                    <p class="text-muted">Streams is now part of IBM Cloud Pak for Data, allowing you to add AI to your applications and extract insights from data from across your organization.</p>
                </div>

                <!-- Atom or VS Code -->
                <div class="col-lg-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <a href="https://developer.ibm.com/streamsdev/docs/develop-run-streams-applications-using-atom-visual-studio-code/" class="fa fa-flash fa-stack-1x fa-inverse icon"></a>
                    </span>
                    <h4 class="service-heading"><a href="https://developer.ibm.com/streamsdev/docs/develop-run-streams-applications-using-atom-visual-studio-code/" class="blackLink">Develop Streams applications using Atom or Microsoft VS Code<br></a></h4>
                    <p class="text-muted">You no longer need to download and install the Streams runtime to start developing Streams applications. Develop Streams applications and deploy them in the IBM Cloud using the plugins for Atom and VS Code.</p>
                </div>

                <div class="col-lg-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <a href="https://developer.ibm.com/streamsdev/docs/streams-4-3-information/" class="fa fa-stack-1x fa-inverse icon"><img src="/img/hexEdgent.png" width="80%"></a>
                    </span>
                    <h4 class="service-heading"><a href="https://developer.ibm.com/streamsdev/docs/streams-4-3-information/" class="blackLink">Streams 4.3<br></a></h4>
                    <p class="text-muted">New features in this release include updates to dynamic and elastic scaling, event time windows, and more.</p>
                </div>
            </div>

            <div class="row text-center">
                <div class="col-lg-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <a href="http://ibmstreams.github.io/streamsx.documentation/docs/beamrunner/beamrunner-1-intro/" data-toggle="modal" class="fa fa-cubes fa-stack-1x fa-inverse icon"></a>
                    </span>
                    <h4 class="service-heading"><a href="http://ibmstreams.github.io/streamsx.documentation/docs/beamrunner/beamrunner-1-intro/" class="blackLink">Streams runner for Apache Beam<br></a></h4>
                    <p class="text-muted">Execute Apache Beam pipelines on the IBM Cloud using the Streams runner for Apache beam</p>
                </div>
                <div class="col-lg-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <a href="https://ibmstreams.github.io/samples/" data-toggle="modal" class="fa fa-cubes fa-stack-1x fa-inverse icon"></a>
                    </span>
                    <h4 class="service-heading"><a href="https://ibmstreams.github.io/samples/" class="blackLink">Samples<br></a></h4>
                    <p class="text-muted">Check out over 100 readily usable examples, from very simple to complex.</p>
                </div>
            </div>

        </div>
    </section>
