<!-- What's New Section -->
    <section id="WhatsNew">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">What's New</h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
            </div>
            <div class="row text-center">
                <!-- ICP4D -->
                <div class="col-lg-4">
                    <a target="_blank" href=""><svg width="110px" height="110px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><path d="M16 7a7.66 7.66 0 0 1 1.51.15 8 8 0 0 1 6.35 6.34l.26 1.35 1.35.24a5.5 5.5 0 0 1-1 10.92H7.5a5.5 5.5 0 0 1-1-10.92l1.34-.24.26-1.35A8 8 0 0 1 16 7m0-2a10 10 0 0 0-9.83 8.12A7.5 7.5 0 0 0 7.49 28h17a7.5 7.5 0 0 0 1.32-14.88 10 10 0 0 0-7.94-7.94A10.27 10.27 0 0 0 16 5z"/></svg></a>
                    <h4 class="service-heading"><a target="_blank" href="https://community.ibm.com/community/user/cloudpakfordata/viewdocument/get-started-with-streams?CommunityKey=c0c16ff2-10ef-4b50-ae4c-57d769937235&tab=librarydocuments" class="blackLink">Streams and IBM Cloud Pak for Data<br></a></h4>
                    <p class="text-muted">Streams is now part of IBM Cloud Pak for Data, for better integration with data from across an organization. Follow the link to learn more and get started.</p>
                </div>

                <!-- Atom or VS Code -->
                <div class="col-lg-4">
                    <a target="_blank" href="https://marketplace.visualstudio.com/items?itemName=IBM.ibm-streams"><svg width="110px" height="110px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><path d="M31 16l-7 7-1.41-1.41L28.17 16l-5.58-5.59L24 9l7 7zM1 16l7-7 1.41 1.41L3.83 16l5.58 5.59L8 23l-7-7zm11.42 9.484L17.64 6l1.932.517L14.352 26z"/></svg></a>
                    <h4 class="service-heading"><a target="_blank" href="https://marketplace.visualstudio.com/items?itemName=IBM.ibm-streams" class="blackLink">Develop Streams applications using Microsoft VS Code<br></a></h4>
                    <p class="text-muted">You no longer need to download and install the Streams runtime to start developing Streams applications. Develop Streams applications and deploy them in IBM Cloud Pak for Data or IBM Cloud using the extension for Microsoft VS Code.</p>
                </div>

                <div class="col-lg-4">
                    <a href="https://developer.ibm.com/streamsdev/docs/streams-4-3-information/" target="_blank"><svg width="110px" height="110px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><path d="M27 22.14V17a2 2 0 0 0-2-2h-8V9.86a4 4 0 1 0-2 0V15H7a2 2 0 0 0-2 2v5.14a4 4 0 1 0 2 0V17h18v5.14a4 4 0 1 0 2 0zM8 26a2 2 0 1 1-2-2 2 2 0 0 1 2 2zm6-20a2 2 0 1 1 2 2 2 2 0 0 1-2-2zm12 22a2 2 0 1 1 2-2 2 2 0 0 1-2 2z"/></svg></a>
                    <h4 class="service-heading"><a target="_blank" href="https://developer.ibm.com/streamsdev/docs/streams-4-3-information/" class="blackLink">Streams 4.3<br></a></h4>
                    <p class="text-muted">New features in this release include updates to dynamic and elastic scaling, event time windows, and more.</p>
                </div>
            </div>

            <div class="row text-center">
                <div class="col-lg-4">
                    <a target="_blank" href="http://ibmstreams.github.io/streamsx.documentation/docs/beamrunner/beamrunner-1-intro/"><svg width="110px" height="110px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><path d="M21 16a6 6 0 1 1-6 6 6 6 0 0 1 6-6m0-2a8 8 0 1 0 8 8 8 8 0 0 0-8-8z"/><path d="M26 4H6a2 2 0 0 0-2 2v20a2 2 0 0 0 2 2h4v-2H6V12h22V6a2 2 0 0 0-2-2zM6 10V6h20v4z"/><path d="M19 19v6l5-3-5-3z"/></svg></a>
                    <h4 class="service-heading"><a target="_blank" href="http://ibmstreams.github.io/streamsx.documentation/docs/beamrunner/beamrunner-1-intro/" class="blackLink">Streams runner for Apache Beam<br></a></h4>
                    <p class="text-muted">Execute Apache Beam pipelines on the IBM Cloud using the Streams runner for Apache beam</p>
                </div>
                <div class="col-lg-4">
                    <a target="_blank" href="https://ibmstreams.github.io/samples/"><svg width="110px" height="110px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><path d="M25.7 9.3l-7-7A.91.91 0 0 0 18 2H8a2 2 0 0 0-2 2v24a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V10a.91.91 0 0 0-.3-.7zM18 4.4l5.6 5.6H18zM24 28H8V4h8v6a2 2 0 0 0 2 2h6z"/><path d="M11 22h10v2H11zm0-6h10v2H11z"/></svg></a>
                    <h4 class="service-heading"><a target="_blank" href="https://ibmstreams.github.io/samples/" class="blackLink">Samples<br></a></h4>
                    <p class="text-muted">Check out over 160 readily usable examples, from very simple to complex.</p>
                </div>
            </div>

        </div>
    </section>
